.game-area {
    display: flex;
    align-items: center;
    .game-grid {
        height: var(--grid-size);
        width: var(--grid-size);
        display: grid;
        gap: 0;
        grid-template-rows: repeat(3, 1fr);
        .row {
            display: grid;
            gap: 0;
            grid-template-columns: repeat(3, 1fr);
            .cell {
                border: 1px solid var(--white);
                cursor: pointer;
                background-color: transparent;
                &:hover {
                    background-color: var(--white10);
                }
                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }

                &.filled {
                    cursor: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 70px;
                    &:hover {
                        background-color: transparent;
                    }
                    &.icon-x {
                        background-image: url("../../assets/img/x-pink.svg");
                    }
                    &.icon-o {
                        background-image: url("../../assets/img/o-electric.svg");
                    }
                    &.winning-cell {
                        background-color: var(--white10);
                    }
                }
            }
            &:first-child {
                .cell {
                    border-top: none;
                }
            }
            &:last-child {
                .cell {
                    border-bottom: none;
                }
            }
        }
    }
}
